@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap');
/* font-family: 'Cardo', serif;
font-family: 'Josefin Sans', sans-serif; */
body {
    background-image: url(green.png);
    background-attachment: fixed;
    background-size:cover;
    background-color: beige;
}
h1 {
    font-family: 'Cardo', serif;
    font-size: 180%;
    margin: 0;
    padding:0;
    background-color: green;
    color:white;
    border-radius: 15px;
    padding: 5px 0 5px 5px;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
    margin:0;
    padding: 5px 0 5px 5px;
    color: white;
    background-color:darkblue;
    border-radius: 15px;
}
